<!DOCTYPE html>
<html>
  <head>
    <!-- Default Js -->

    <%- include("../master/head.ejs") %>
    <script src="/js/contents/master/mainUtil.js"></script>
    <script src="/js/hichart/dark-unica.theme.js"></script>
    <script src="/js/contents/main/hichartMaker.js"></script>
  </head>

  <body>
    <div id="wrap" class="wrap hidden">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="container_body">
        <div class="container_row">
          <div class="component_side_box">
            <article class="component_side_area side_section_power">
              <div class="data_title_section">
                <h4>발전현황</h4>
                <h5>Power Status</h5>
              </div>
              <section id="powerStatus" class="data_view_section fs_150rem">
                <article class="sensor_data_view sdv_w_side">
                  <p>현재 출력</p>
                  <p id="currKw">-</p>
                  <p>kW</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>금일발전량</p>
                  <p id="dailyPower">-</p>
                  <p>kWh</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>당월발전량</p>
                  <p id="monthPower">-</p>
                  <p>kWh</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>누적발전량</p>
                  <p id="cumulativePower">-</p>
                  <p>MWh</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>CO2저감량</p>
                  <p id="co2">123.2</p>
                  <p>Ton</p>
                </article>
              </section>
            </article>
          </div>
          <div class="component_piece_box">
            <article class="component_piece_area">
              <header>
                현재 발전현황
              </header>
              <div class="component_piece_body ">
                <div id="current_power_graph" class="gauge_chart">Graph</div>
                <section id="current_power_data" class="gauge_contents">
                  <article class="sensor_data_view sdv_w541 fs_170rem">
                    <p>현재 출력</p>
                    <p class="fs_150em" data-id="currKw">196</p>
                    <p>kW</p>
                  </article>
                  <article class="sensor_data_view sdv_w541 fs_170rem">
                    <p>발전 효율</p>
                    <p class="fs_150em" data-id="currPf">196</p>
                    <p>%</p>
                  </article>
                </section>
              </div>
            </article>
          </div>
          <div class="component_piece_box">
            <article class="component_piece_area">
              <header>금일발전량</header>
              <div class="component_piece_body pt_1rem">
                <div id="daily_power_graph" class="gauge_chart">Graph</div>
                <section id="daily_power_data" class="gauge_contents">
                  <article class="sensor_data_view sdv_w541 fs_170rem">
                    <p>당월 발전량</p>
                    <p class="fs_150em" data-id="monthPower">196</p>
                    <p>kWh</p>
                  </article>
                  <article class="sensor_data_view sdv_w541 fs_170rem">
                    <p>누적 발전량</p>
                    <p class="fs_150em" data-id="cumulativePower">196</p>
                    <p>MWh</p>
                  </article>
                </section>
              </div>
            </article>
          </div>
          <div class="component_piece_box">
            <article class="component_piece_area">
              <header>인버터 전압/전류(AC)</header>
              <section id="inverterStatus" class="component_piece_body">
                <article class="component_ele_status">
                  <header>나주 고정식 33 kW급 쏠라테크</header>
                  <section class="sensor_data_view sddv_w35">
                    <article class="sensor_data_view sdv_w541 fs_150rem">
                      <p>전압</p>
                      <p>243.3</p>
                      <p>V</p>
                    </article>
                    <article class="sensor_data_view sdv_w541 fs_150rem">
                      <p>전류</p>
                      <p>43.3</p>
                      <p>A</p>
                    </article>
                  </section>
                </article>
              </section>
            </article>
          </div>
        </div>
        <div class="container_row">
          <div class="component_side_box">
            <div class="component_side_area side_section_growth">
              <div class="data_title_section">
                <h4>염전 환경 정보</h4>
                <h5>Saltern Environment</h5>
              </div>
              <section id="salternEnv" class="data_view_section fs_150rem">
                <article class="sensor_data_view sdv_w_side">
                  <p>일사량</p>
                  <p id="inclinedSolar">-</p>
                  <p>W/m²</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>조도</p>
                  <p id="lux">-</p>
                  <p>lx</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>CO2</p>
                  <p id="co2">-</p>
                  <p>ppm</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>외기온도</p>
                  <p id="outsideAirTemperature">-</p>
                  <p>℃</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>외기습도</p>
                  <p id="outsideAirReh">-</p>
                  <p>%</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>토양온도</p>
                  <p id="soilTemperature">-</p>
                  <p>℃</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>토양습도</p>
                  <p id="soilReh">-</p>
                  <p>%</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>토양EC</p>
                  <p id="soilWaterValue">-</p>
                  <p>%</p>
                </article>
              </section>
            </div>
          </div>
          <div class="component_piece_box">
            <article class="component_piece_area">
              <header>금일 발전 현황</header>
              <div id="daily_kw_graph" class="component_piece_body p_column_rem"></div>
            </article>
          </div>
          <!-- TODO: -->
          <div class="component_piece_box">
            <article class="component_piece_area">
              <header>기상 환경 정보</header>
              <div id="18" class="component_piece_body p_column_rem">
                <table class="table table-bordered number_table growthEnv_table">
                  <colgroup>
                    <col style="width:70px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:30px">
                    <col style="width:0px">
                  </colgroup>
                  <thead>
                    <tr>
                      <th scope="row" class="date">날짜</th>
                      <th colspan="4" scope="colgroup" class="today">오늘(28일 수)</th>
                      <th colspan="8" scope="colgroup" class="tommorow">내일(29일 목)</th>
                      <th colspan="8" scope="colgroup" class="twoday">모레(30일 금)</th>
                      <th scope="col" class="last"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="time">
                      <th scope="row">시각</th>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                    </tr>
                    <tr>
                      <!-- 1.맑음 2.구름 조금 3.구름 많음 4.흐림 5.비 6.눈/비 7.눈 -->
                      <th scope="row">날씨</th>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td> 
                      <td><img src="" width="20"></td>
                      <td><img src="" width="20"></td>
                    </tr>
                    <tr>
                      <th scope="row" class="bgblue">강수확률(%)</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr class="degree">
                      <th scope="row" class="bgblue">기온(℃)</th>  
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td=">
                    </tr> 
                    <tr class="wind"> 
                      <th scope="row" style="letter-spacing: -1px">풍향/<br>풍속(km/h)</th>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                      <td><p><span><img src=""></span><span></span></p></td>
                    </tr>
                    <tr class="humidity">   
                      <th scope="row">습도(%)</th>
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                      <td><p></p></td>                 
                    </tr>
                  </tbody>
                  </table>
              </div>
            </article>
          </div>
        </div>
      </div>
      <!--하단1-->

      <%- include("../master/footer.ejs") %>
    </div>

    <script>
      var powerGenerationInfo = <%- JSON.stringify(powerGenerationInfo) %>;
      // 기상 환경 정보 테이블을 위한 데이터
      var weatherCastInfo = <%- JSON.stringify(weatherCastInfo) %>;
      // 차트를 그리기 위한 데이터
      var inverterLineChart = <%- JSON.stringify(inverterLineChart) %>;

      // console.log(inverterLineChart)
      $('#inverterStatus').html(<%- JSON.stringify(dom.inverterStatusListDom) %>)
    </script>

    <script>
      // 발전 현황
      makeAreaChart(inverterLineChart, true);

      // 발전 현황 셋팅
      setDomElementValueWithJson(
        document.getElementById('current_power_data'),
        powerGenerationInfo,
        'innerHTML',
        'data-id',
      );
      setDomElementValueWithJson(
        document.getElementById('daily_power_data'),
        powerGenerationInfo,
        'innerHTML',
        'data-id',
      );
      setDomElementValueWithJson(
        document.getElementById('powerStatus'),
        powerGenerationInfo,
        'innerHTML',
        'id',
      );

      // 금일 발전량 차트
      makeGaugeChart({
        domId: 'daily_power_graph',
        yAxis: {
          min: 0,
          max: powerGenerationInfo.currKwYaxisMax * 8,
          title: '',
        },
        series: {
          name: '',
          data: powerGenerationInfo.dailyPower,
          tooltip: {
            valueSuffix: 'kWh',
          },
        },
      });
      // 현재 발전량 차트
      makeGaugeChart({
        domId: 'current_power_graph',
        yAxis: {
          min: 0,
          max: powerGenerationInfo.currKwYaxisMax,
          title: '',
        },
        series: {
          name: '',
          data: powerGenerationInfo.currKw,
          tooltip: {
            valueSuffix: 'kW',
          },
        },
      });
    </script>
    <!-- TODO: -->
    <script>
      console.log(weatherCastInfo)
    </script>
  </body>
</html>
