<!DOCTYPE html>
<html>
  <head>
    <!-- Default Js -->
    <%- include("../master/head.ejs") %>

    <!-- 발전 예측 관련 -->
    <script src="/js/contents/main/powerPredictor.js"></script>
    <script src="/js/contents/master/mainUtil.js"></script>
    <!-- <script src="/js/hichart/dark-unica.theme.js"></script> -->

    <script src="/js/hichart/exporting.js"></script>
    <script src="/js/hichart/export-data.js"></script>
  </head>

  <body>
    <div id="wrap" class="wrap hidden">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="container_body">
        <div class="container_row">
          <div id="subCategoryDom" class="report_category"></div>
          <div><button class="btn btn-warning" id="monitoring_mode">모니터링 모드</button></div>
        </div>
        <%- include("../../master/search.ejs") %>
        <div class="container_row ">
          <div class="component_piece_box" style="height:500px">
            <article class="component_piece_area">
              <header>발전 예측 트렌드</header>
              <div id="section_1" class="component_piece_body p_column_rem"></div>
            </article>
          </div>
        </div>
        <div class="container_row ">
          <div class="component_piece_box">
            <article class="component_piece_area">
              <header>모듈 온도 예측 트렌드</header>
              <div id="section_2" class="component_piece_body p_column_rem"></div>
            </article>
          </div>
        </div>
        <div class="container_row "></div>
      </div>
      <!--하단1-->
      <%- include("../master/footer.ejs") %>
    </div>

    <script>
      $('#subCategoryDom').html(<%- JSON.stringify(dom.subCategoryDom) %>);

      var chartInfo =  <%- JSON.stringify(chartInfo) %>;
      console.log(chartInfo)

      var mainFontSize = 15;
      var subFontSize = 13;
    </script>

    <script src="/js/contents/report/search.js"></script>

    <!-- 출력 트렌드 1 Negative Area Chart -->
    <script>
      function drawSection1Chart() {
        Highcharts.chart('section_1', {
          chart: {
            type: 'line',
            marginLeft: 45,
            marginRight: 55,
            marginTop: 35,
          },
          title: {
            text: '',
          },
          xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
              second: '%H:%M:%S',
              minute: '%H:%M',
              hour: '%H:%M',
              day: '%m-%e',
              week: '%m-%e',
              month: '%y-%m',
              year: '%Y',
            },
            labels: {
              style: {
                fontSize: subFontSize,
              },
            },
          },
          yAxis: [
            {
              title: {
                align: 'high',
                textAlign: 'left',
                rotation: 0,
                offset: 0,
                x: -35,
                y: -15,
                text: '발전 (kW)',
                style: {
                  fontSize: mainFontSize,
                  color: Highcharts.getOptions().colors[10],
                },
              },
              labels: {
                style: {
                  fontSize: subFontSize,
                },
              },
            },
            {
              title: {
                align: 'high',
                textAlign: 'right',
                rotation: 0,
                offset: 0,
                x: 43,
                y: -15,
                text: '일사량 (W/㎡)',
                style: {
                  fontSize: mainFontSize,
                  color: Highcharts.getOptions().colors[10],
                },
              },
              labels: {
                style: {
                  fontSize: subFontSize,
                },
              },
              opposite: true,
            },
          ],
          plotOptions: {
            series: {
              marker: false,
            },
          },
          tooltip: {
            shared: true,
          },
          series: chartInfo.dailyPowerData,
          credits: {
            enabled: false,
          },
        });
      }
    </script>

    <!-- 출력 트렌드 2 Negative Area Chart -->
    <script>
      function drawSection2Chart() {
        Highcharts.chart('section_2', {
          chart: {
            type: 'line',
            marginLeft: 45,
            marginRight: 50,
            marginTop: 35,
            zoomType: 'xy',
          },
          title: {
            text: '',
          },
          xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
              second: '%H:%M:%S',
              minute: '%H:%M',
              hour: '%H:%M',
              day: '%m-%e',
              week: '%m-%e',
              month: '%y-%m',
              year: '%Y',
            },
            labels: {
              style: {
                fontSize: subFontSize,
              },
            },
          },
          yAxis: [
            {
              title: {
                align: 'high',
                textAlign: 'left',
                rotation: 0,
                offset: 0,
                x: -30,
                y: -15,
                text: '온도 (˚C)',
                style: {
                  fontSize: mainFontSize,
                  color: Highcharts.getOptions().colors[10],
                },
              },
              labels: {
                style: {
                  fontSize: subFontSize,
                },
              },
            },
            {
              title: {
                align: 'high',
                textAlign: 'right',
                rotation: 0,
                offset: 0,
                x: 35,
                y: -15,
                text: '온도 (˚C)',
                style: {
                  fontSize: mainFontSize,
                  color: Highcharts.getOptions().colors[10],
                },
              },
              labels: {
                style: {
                  fontSize: subFontSize,
                },
              },
              opposite: true,
            },
          ],
          plotOptions: {
            series: {
              marker: false,
            },
          },
          tooltip: {
            shared: true,
          },
          series: chartInfo.dailyEnvChart,
          credits: {
            enabled: false,
          },
        });
      }
    </script>

    <!-- FIXME: 시연용 1분 단위 ReDraw -->
    <script>
      function drawAllChart() {
        drawSection1Chart();
        drawSection2Chart();
        // drawSection3Chart();
        // drawSection4Chart();
      }
      drawAllChart();

      $(document).ready(function() {
        // FIXME: 1분에 한번씩 갱신 시연
        // setInterval(drawAllChart, 1000 * 10);
      });
    </script>
  </body>
</html>
