<!DOCTYPE html>
<html>
  <head>
    <!-- Default Js -->

    <%- include("../master/head.ejs") %>
    <!-- 발전량 예측 관련 -->
    <script src="/js/contents/main/powerPredictor.js"></script>
    <script src="/js/contents/master/mainUtil.js"></script>
    <script src="/js/hichart/dark-unica.theme.js"></script>

    <style>
      .highcharts-figure,
      .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
      }

      .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
      }
      .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
      }
      .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
      }
      .highcharts-data-table td,
      .highcharts-data-table th,
      .highcharts-data-table caption {
        padding: 0.5em;
      }
      .highcharts-data-table thead tr,
      .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
      }
      .highcharts-data-table tr:hover {
        background: #f1f7ff;
      }
    </style>

    <style>
      .max-efficienct-analysis {
        margin-bottom: 0;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div id="wrap" class="wrap hidden">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="container_body">
        <div class="container_header">
          <div id="subCategoryDom" class="report_category"></div>
          <div><button class="btn btn-warning" id="monitoring_mode">모니터링 모드</button></div>
        </div>
        <div class="container_row">
          <div class="component_piece_box flex_35">
            <article class="component_piece_area">
              <header>금일 발전 효율</header>
              <div id="realtime_power_efficiency" class="component_piece_body p_column_rem"></div>
            </article>
          </div>
          <div class="component_piece_box flex_35">
            <article class="component_piece_area">
              <header>금일 환경 변화 추이</header>
              <div id="realtime_env_efficiency" class="component_piece_body p_column_rem"></div>
            </article>
          </div>
          <div class="component_piece_box flex_15">
            <article class="component_piece_area">
              <header>지난 3일 효율 분석</header>
              <div id="prev_3days_efficiency" class="component_piece_body p_column_rem"></div>
            </article>
          </div>
        </div>
        <div class="container_row">
          <div class="component_piece_box flex_3">
            <article class="component_piece_area">
              <header>최대 발전 효율</header>
              <div id="peak_power_efficiency" class="component_piece_body p_column_rem"></div>
            </article>
          </div>
          <div class="component_piece_box flex_3">
            <article class="component_piece_area">
              <header>최대 환경 변화 추이</header>
              <div id="peak_env_efficiency" class="component_piece_body p_column_rem"></div>
            </article>
          </div>
          <div class="component_piece_box flex_4">
            <article class="component_piece_area">
              <header>발전 효율 최대순간 분석</header>
              <section class="component_piece_body">
                <p class="table_desc_area">
                  측정시간 &nbsp; <span id="measureTime"> 2020년 4월 3일 15시 35분 </span>
                </p>
                <div class="table-responsive default_area">
                  <table class="table table-bordered max-efficienct-analysis">
                    <colgroup>
                      <col width="5%" />
                      <col width="7%" />
                      <col width="7%" />
                      <col width="7%" />
                      <col width="8%" />
                      <col width="8%" />
                      <col width="8%" />
                    </colgroup>
                    <thead class="text-center">
                      <tr>
                        <th>구분</th>
                        <th>타입</th>
                        <th>모듈 효율 (%)</th>
                        <th>모듈 온도 (˚C)</th>
                        <th>외기 온도 (˚C)</th>
                        <th>수중 온도 (˚C)</th>
                        <th>수위 (cm)</th>
                      </tr>
                    </thead>
                    <tbody id="">
                      <tr>
                        <td rowspan="2">육상</td>
                        <td>A</td>
                        <td>97.1</td>
                        <td>35.2</td>
                        <td rowspan="2">27.5</td>
                        <td>-</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>B</td>
                        <td>97.5</td>
                        <td>35.2</td>
                        <td>-</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td rowspan="4">수중</td>
                        <td>A</td>
                        <td>98.1</td>
                        <td>31.2</td>
                        <td rowspan="4">28.1</td>
                        <td>32.1</td>
                        <td>2.3</td>
                      </tr>
                      <tr>
                        <td>B</td>
                        <td>98.3</td>
                        <td>31.2</td>
                        <td>32.4</td>
                        <td>2.4</td>
                      </tr>
                      <tr>
                        <td>C</td>
                        <td>98.2</td>
                        <td>30.5</td>
                        <td>32.4</td>
                        <td>2.1</td>
                      </tr>
                      <tr>
                        <td>D</td>
                        <td>98.3</td>
                        <td>31.2</td>
                        <td>30.8</td>
                        <td>2.5</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </section>
            </article>
          </div>
        </div>
      </div>
      <!--하단1-->
      <%- include("../master/footer.ejs") %>
    </div>

    <script>
      $('#subCategoryDom').html(<%- JSON.stringify(dom.subCategoryDom) %>);

      var chartInfo =  <%- JSON.stringify(chartInfo) %>;

      console.log(chartInfo)
    </script>

    <!-- 모니터링 모드 동작 -->
    <script>
      // $(window).resize(function() {
      // window.addEventListener('resize', function() {
      //   console.log('hi');
      //   $('.container_body').height(window.innerHeight);
      // });

      // $('.container_body').height(1000);

      document.querySelector('#monitoring_mode').addEventListener('click', function() {
        $('#wrap > header').addClass('hidden');
        $('#wrap > footer').addClass('hidden');
        $('#subCategoryDom')
          .parent()
          .addClass('hidden');

        $('.container_row').addClass('division');
        $('.container_body').height(window.innerHeight);

        window.dispatchEvent(new Event('resize'));

        // TODO: 데이터 자동 갱신 시작
        // $('.container_body').height(window.innerHeight);
        // window.dispatchEvent(new Event('resize'));
      });

      document.addEventListener('keyup', function(e) {
        if (e.keyCode === 27) {
          $('.container_row').removeClass('division');

          $('#wrap > header').removeClass('hidden');
          $('#wrap > footer').removeClass('hidden');
          $('#subCategoryDom')
            .parent()
            .removeClass('hidden');

          $('.container_body').height('auto');
          // TODO: 데이터 자동 갱신 정지
          window.dispatchEvent(new Event('resize'));

          // window.dispatchEvent(new Event('resize'));
          // TODO: 데이터 자동 갱신 정지
        }
      });
    </script>

    <!-- 금일 발전 효율 -->
    <script>
      function drawRtPowerEff() {
        Highcharts.chart('realtime_power_efficiency', {
          chart: {
            type: 'line',
            zoomType: 'xy',
          },
          title: {
            text: '',
          },
          xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
              second: '%H:%M:%S',
              minute: '%H:%M',
              hour: '%H:%M',
              day: '%m-%e',
              week: '%m-%e',
              month: '%y-%m',
              year: '%Y',
            },
          },
          yAxis: [
            {
              title: {
                text: '모듈 효율 %',
                style: {
                  color: Highcharts.getOptions().colors[10],
                },
              },
            },
            {
              title: {
                text: '일사량 W/㎡',
                style: {
                  color: Highcharts.getOptions().colors[10],
                },
              },
              opposite: true,
            },
          ],
          legend: {
            layout: 'vertical',
            align: 'left',
            x: 70,
            verticalAlign: 'top',
            y: 10,
            floating: true,
            backgroundColor:
              Highcharts.defaultOptions.legend.backgroundColor || 'rgba(255,255,255,0.25)', // theme
          },
          tooltip: {
            shared: true,
          },
          plotOptions: {
            series: {
              marker: false,
            },
          },
          series: chartInfo.dailyPowerChart,
          credits: {
            enabled: false,
          },
        });
      }
    </script>

    <!-- 금일 환경 변화 추이 -->
    <script>
      function drawRtEnvEff() {
        Highcharts.chart('realtime_env_efficiency', {
          chart: {
            type: 'line',
            zoomType: 'xy',
          },
          title: {
            text: '',
          },
          xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
              second: '%H:%M:%S',
              minute: '%H:%M',
              hour: '%H:%M',
              day: '%m-%e',
              week: '%m-%e',
              month: '%y-%m',
              year: '%Y',
            },
          },
          yAxis: [
            {
              title: {
                text: '온도 ˚C',
                style: {
                  color: Highcharts.getOptions().colors[10],
                },
              },
            },
          ],
          tooltip: {
            shared: true,
          },
          plotOptions: {
            series: {
              marker: false,
            },
          },
          series: chartInfo.dailyEnvChart,
          credits: {
            enabled: false,
          },
        });
      }
    </script>

    <!-- 지난 3일 효율 분석 -->
    <script>
      function drawPrev3DaysEff() {
        Highcharts.chart('prev_3days_efficiency', {
          chart: {
            type: 'column',
          },
          title: {
            text: '',
          },
          xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
              second: '%H:%M:%S',
              minute: '%H:%M',
              hour: '%H:%M',
              day: '%m-%e',
              week: '%m-%e',
              month: '%y-%m',
              year: '%Y',
            },
          },
          yAxis: [
            {
              title: {
                text: '모듈 효율 (%)',
                style: {
                  color: Highcharts.getOptions().colors[10],
                },
              },
            },
          ],
          plotOptions: {
            series: {},
          },
          tooltip: {
            shared: true,
          },
          series: chartInfo.prevRangePowerEffChart,
          credits: {
            enabled: false,
          },
        });
      }
    </script>

    <!-- 최대 발전 효율 -->
    <script>
      function drawPeakPowerEff() {
        Highcharts.chart('peak_power_efficiency', {
          chart: {
            type: 'line',
          },
          title: {
            text: '2020년 4월 3일',
          },
          xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
              second: '%H:%M:%S',
              minute: '%H:%M',
              hour: '%H:%M',
              day: '%m-%e',
              week: '%m-%e',
              month: '%y-%m',
              year: '%Y',
            },
          },
          yAxis: [
            {
              title: {
                text: '모듈 효율 %',
                style: {
                  color: Highcharts.getOptions().colors[10],
                },
              },
            },
            {
              title: {
                text: '일사량 W/㎡',
                style: {
                  color: Highcharts.getOptions().colors[10],
                },
              },
              opposite: true,
            },
          ],
          legend: {
            layout: 'vertical',
            align: 'left',
            x: 60,
            verticalAlign: 'top',
            y: 30,
            floating: true,
            backgroundColor:
              Highcharts.defaultOptions.legend.backgroundColor || 'rgba(255,255,255,0.25)', // theme
          },
          plotOptions: {
            series: {
              pointStart: Date.UTC(2020, 3, 2, 7, 10),
              pointInterval: 1000 * 60,
            },
          },
          tooltip: {
            shared: true,
            valueSuffix: ' %',
          },
          series: [
            {
              name: '육상 태양광',
              yAxis: 0,
              data: [
                0.7,
                0.4,
                1.9,
                4,
                4.9,
                8.6,
                12.4,
                16.2,
                21.8,
                27.9,
                32.3,
                38.1,
                44.5,
                49.7,
                54.7,
                59.6,
                67.3,
                74,
                77.1,
                84.6,
                84.4,
                80.6,
                84.8,
                98.4,
                103.3,
                104.8,
                108.4,
                60.9,
                120.7,
                114.7,
                108.1,
                105,
                103.4,
                100.1,
                60.7,
                73.3,
                86.1,
                69.8,
                72.3,
                46,
                78,
                73.7,
                56,
                60,
                58.1,
                69.2,
                66.5,
                60.4,
                45.7,
                46.7,
                34.1,
                31.5,
                28.6,
                30.1,
                38.5,
                28.2,
                25,
                20.1,
                20.6,
                15.3,
                13.7,
                12.4,
                8.6,
                6.3,
                5,
                2.9,
                1.2,
              ],
            },
            {
              name: '수중 태양광',
              yAxis: 0,
              data: [
                0.3,
                0.4,
                1.1,
                2.9,
                4.8,
                7.7,
                8.8,
                11.1,
                15.9,
                21.9,
                32.6,
                38.5,
                43.2,
                46.7,
                48.9,
                53,
                55.8,
                68.5,
                81.5,
                86.4,
                89.6,
                96.2,
                101.3,
                103.2,
                104.1,
                105.4,
                107.9,
                109.2,
                111.3,
                113,
                113.6,
                115.4,
                117.7,
                116.8,
                117.8,
                117.7,
                118.2,
                118.1,
                116.2,
                114.6,
                113.6,
                112.1,
                109.5,
                106.9,
                103.9,
                100.6,
                97.7,
                94,
                90.6,
                85.8,
                81.1,
                76.8,
                72.6,
                67.2,
                60.9,
                56,
                50.1,
                45.7,
                38.7,
                33.3,
                26.6,
                20.6,
                14.9,
                11,
                7.6,
                4.3,
                3.3,
              ],
            },
            {
              name: '육상태양광 일사량',
              yAxis: 1,
              data: [
                0,
                6,
                15,
                25,
                39,
                59,
                85,
                119,
                160,
                200,
                242,
                280,
                319,
                348,
                383,
                413,
                447,
                476,
                494,
                536,
                539,
                518,
                531,
                628,
                659,
                679,
                701,
                460,
                767,
                760,
                713,
                688,
                660,
                688,
                416,
                471,
                471,
                517,
                495,
                310,
                502,
                508,
                378,
                414,
                372,
                474,
                446,
                392,
                303,
                321,
                239,
                218,
                195,
                200,
                268,
                199,
                175,
                146,
                139,
                118,
                92,
                95,
                65,
                51,
                37,
                25,
                14,
              ],
            },
            {
              name: '수중태양광 일사량',
              yAxis: 1,
              data: [
                0,
                7,
                14,
                22,
                36,
                55,
                71,
                81,
                115,
                160,
                243,
                288,
                319,
                341,
                364,
                365,
                306,
                517,
                525,
                556,
                586,
                619,
                660,
                688,
                684,
                690,
                704,
                719,
                731,
                746,
                754,
                766,
                774,
                780,
                786,
                786,
                788,
                787,
                781,
                770,
                763,
                754,
                741,
                727,
                711,
                693,
                674,
                654,
                636,
                612,
                585,
                557,
                530,
                503,
                470,
                438,
                404,
                370,
                334,
                293,
                247,
                204,
                160,
                119,
                83,
                53,
                29,
              ],
            },
          ],
          credits: {
            enabled: false,
          },
        });
      }
    </script>

    <!-- 최대 환경 변화 추이 -->
    <script>
      function drawPeakEnvEff() {
        Highcharts.chart('peak_env_efficiency', {
          chart: {
            type: 'line',
          },
          title: {
            text: '2020년 4월 3일',
          },
          xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
              second: '%H:%M:%S',
              minute: '%H:%M',
              hour: '%H:%M',
              day: '%m-%e',
              week: '%m-%e',
              month: '%y-%m',
              year: '%Y',
            },
          },
          yAxis: [
            {
              title: {
                text: '온도 ˚C',
                style: {
                  color: Highcharts.getOptions().colors[10],
                },
              },
            },
          ],
          tooltip: {
            shared: true,
            valueSuffix: ' %',
          },
          plotOptions: {
            // spline: {
            //   marker: {
            //     radius: 4,
            //     lineColor: '#666666',
            //     lineWidth: 1,
            //   },
            // },
            series: {
              pointStart: Date.UTC(2020, 3, 2, 7, 10),
              pointInterval: 600000,
            },
          },
          series: [
            {
              name: '육상 태양광 외기 온도',
              yAxis: 0,
              data: [
                2,
                1.9,
                1.9,
                1.9,
                1.9,
                2.2,
                2.4,
                2.8,
                3.1,
                3.6,
                3.9,
                4.2,
                4.5,
                4.9,
                5.2,
                5.7,
                6.4,
                6.6,
                7,
                7.3,
                7.8,
                8.3,
                8.5,
                8.9,
                9.4,
                9.7,
                9.8,
                10.7,
                11.1,
                11.6,
                12,
                12.1,
                12.3,
                12.3,
                12.2,
                12.3,
                12.5,
                12.6,
                12.6,
                12.7,
                12.7,
                13,
                13,
                13.1,
                13.2,
                13.4,
                13.5,
                13.5,
                13.5,
                13.4,
                13.3,
                13.3,
                13.2,
                13.2,
                13.3,
                13.2,
                13.2,
                13.1,
                13.1,
                13.1,
                13.1,
                13,
                13,
                12.9,
                12.8,
                12.8,
                12.8,
              ],
            },
            {
              name: '육상 태양광 모듈 온도',
              yAxis: 0,
              data: [
                15,
                15.1,
                15.2,
                15.3,
                15.3,
                15.3,
                15.2,
                15,
                14.9,
                14.9,
                14.8,
                14.7,
                14.6,
                14.7,
                14.8,
                14.8,
                14.9,
                14.9,
                14.8,
                14.7,
                14.7,
                14.6,
                14.3,
                14.2,
                14.2,
                14.1,
                13.8,
                13.6,
                13.6,
                13.5,
                13.4,
                13.3,
                13.3,
                13.4,
                13.3,
                13.2,
                13.2,
                13.1,
                13,
                13,
                13.1,
                13,
                12.9,
                12.7,
                12.6,
                12.6,
                12.4,
                12.4,
                12.3,
                11.1,
                11.2,
                11.3,
                11.2,
                11.2,
                10.9,
                10.9,
                10.8,
                10.7,
                10.7,
                10.6,
                10.4,
                10.1,
                9.8,
                9.7,
                9.5,
                9.4,
                9.5,
              ],
            },
            {
              name: '수중태양광 외기 온도',
              yAxis: 0,
              data: [
                7,
                7.1,
                7.1,
                7.1,
                7.1,
                7.1,
                7.2,
                7.3,
                7.4,
                7.6,
                7.7,
                7.7,
                7.8,
                7.7,
                7.7,
                7.8,
                7.8,
                8.1,
                8.2,
                8.3,
                8.4,
                8.7,
                9.1,
                9.2,
                9.5,
                9.7,
                10,
                10.2,
                10.5,
                10.4,
                10.7,
                10.7,
                10.6,
                10.2,
                9.8,
                9.4,
                9,
                8.4,
                8.3,
                8.2,
                8.3,
                8,
                8,
                8.1,
                8.2,
                8,
                7.9,
                7.9,
                8,
                7.8,
                7.8,
                7.7,
                7.8,
                7.8,
                7.9,
                7.9,
                7.8,
                7.8,
                7.7,
                7.6,
                7.6,
                7.5,
                7.5,
                7.4,
                7.3,
                7.1,
                7.1,
              ],
            },
            {
              name: '수중태양광 모듈온도',
              yAxis: 0,
              data: [
                5.2,
                5.3,
                5.3,
                5.2,
                5.2,
                5.2,
                5.2,
                5.2,
                5.3,
                5.2,
                5.2,
                5.3,
                5.4,
                5.7,
                5.8,
                5.9,
                6,
                6.4,
                6.5,
                6.5,
                6.7,
                6.8,
                6.9,
                7.2,
                7.4,
                7.4,
                7.7,
                7.9,
                8.1,
                8.1,
                8.1,
                8.2,
                8,
                8.1,
                8.1,
                8,
                7.8,
                7.9,
                7.9,
                7.9,
                7.7,
                7.6,
                7.5,
                7.5,
                7.5,
                7.4,
                7.4,
                7.5,
                7.4,
                7.3,
                7.3,
                7.3,
                7.2,
                7.2,
                7.2,
                7.2,
                7.2,
                7.2,
                7.1,
                7.1,
                7.1,
                7,
                6.9,
                6.8,
                6.7,
                6.7,
                6.8,
              ],
            },
            {
              name: '수중태양광 수온',
              yAxis: 0,
              data: [
                7.3,
                7.2,
                7.2,
                7.3,
                7.4,
                7.5,
                7.5,
                7.5,
                7.6,
                7.7,
                7.7,
                7.8,
                7.8,
                7.8,
                7.7,
                7.7,
                7.7,
                7.7,
                7.7,
                7.8,
                7.8,
                7.7,
                7.5,
                7.3,
                7.3,
                7.3,
                7.3,
                7.3,
                7.2,
                7.2,
                7.2,
                7.2,
                7.1,
                7,
                7.1,
                7.1,
                7.2,
                7.3,
                7.4,
                7.4,
                7.5,
                7.6,
                7.6,
                7.6,
                7.7,
                7.7,
                7.6,
                7.5,
                7.5,
                7.5,
                7.5,
                7.4,
                7.4,
                7.4,
                7.3,
                7.3,
                7.2,
                7.2,
                7.2,
                7.2,
                7.1,
                7.1,
                7.1,
                7.1,
                7.1,
                7.1,
                7.1,
              ],
            },
          ],
          credits: {
            enabled: false,
          },
        });
      }
    </script>

    <!-- FIXME: 시연용 1분 단위 ReDraw -->
    <script>
      function drawAllChart() {
        drawRtPowerEff();
        drawRtEnvEff();
        drawPrev3DaysEff();
        drawPeakPowerEff();
        drawPeakEnvEff();
      }
      drawAllChart();
      $(document).ready(function() {
        // FIXME: 1분에 한번씩 갱신 시연
        // setInterval(drawAllChart, 1000 * 60);
      });
    </script>

    <script src="/js/contents/report/search.js"></script>
  </body>
</html>
