<!DOCTYPE html>
<html>
  <head>
    <!-- Default Js -->
    <%- include("../master/head.ejs") %>

    <!-- 발전 예측 관련 -->
    <script src="/js/contents/main/powerPredictor.js"></script>
    <script src="/js/contents/master/mainUtil.js"></script>
    <script src="/js/handlebars.min.js"></script>
    <script src="/js/common-html/table-to-excel.js"></script>

    <!-- <script src="/js/hichart/dark-unica.theme.js"></script> -->

    <script src="/js/hichart/exporting.js"></script>
    <script src="/js/hichart/export-data.js"></script>
  </head>

  <body>
    <div id="wrap" class="wrap hidden">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="container_body">
        <div class="container_row">
          <div id="subCategoryDom" class="report_category"></div>
        </div>

        <div class="container_row flex_jus_end default_search_area mt0">
          <div class="search_area" id="searchArea">
            <div class="search_box ">
              <span class="search_title">수위(cm)</span>
              <div class="search_body">
                <input
                  class="input_tre"
                  placeholder="실측값"
                  id="setWaterLevel"
                  name="subSearch"
                  type="text"
                />
              </div>
            </div>
            <div class="search_box ">
              <span class="search_title">회귀계수 B1</span>
              <div class="search_body">
                <input class="input_tre" id="regressionB1" name="subSearch" type="text" />
              </div>
            </div>
            <div class="search_box ">
              <span class="search_title">회귀계수 B2</span>
              <div class="search_body">
                <input class="input_tre" id="regressionB2" name="subSearch" type="text" />
              </div>
            </div>
            <div class="search_box ">
              <span class="search_title">회귀계수 B3</span>
              <div class="search_body">
                <input class="input_tre" id="regressionB3" name="subSearch" type="text" />
              </div>
            </div>
            <div class="search_box ">
              <span class="search_title">손실 계수 K</span>
              <div class="search_body">
                <input class="input_tre" id="regressionK" name="subSearch" type="text" />
              </div>
            </div>
            <div class="search_box ">
              <span id="subCategoryName" class="search_title">인버터</span>
              <select id="subSelectBoxDom" class="form-control"> </select>
            </div>
            <div class="search_box ">
              <span class="search_title">조회기간</span>
              <select id="searchType" class="form-control">
                <option value="days">일일</option>
                <option value="months">월간</option>
                <option value="years">년간</option>
                <option value="range">기간선택</option>
              </select>
            </div>
            <div class="search_box ">
              <span class="search_title">조회간격</span>
              <select id="searchInterval" class="form-control">
                <option value="min">1분</option>
                <option value="min10">10분</option>
                <option value="hour">1시간</option>
                <option value="day">1일</option>
                <option value="month">1달</option>
              </select>
            </div>
            <div class="search_box">
              <span class="search_title">날짜</span>
              <div class="search_body">
                <input
                  class="input_tre"
                  name="start"
                  id="strStartDateInputValue"
                  type="text"
                  readonly
                />
                <span id="between-start-end" hidden>~</span>
                <input
                  class="input_tre"
                  name="end"
                  id="strEndDateInputValue"
                  type="text"
                  readonly
                  hidden
                />
              </div>
            </div>
            <div class="submit_box">
              <button type="button" class="btn btn-primary" id="searchBtn">
                검색
              </button>
            </div>
          </div>
        </div>

        <!-- <div class="container_row ">
          <div class="component_piece_box">
            <article class="component_piece_area">
              <header>발전 예측 분석</header>
              <div id="predictionRate" class="component_piece_body p_0"></div>
            </article>
          </div>
          <div class="component_piece_box">
            <article class="component_piece_area">
              <header>환경 데이터 분석</header>
              <div id="envData" class="component_piece_body p_0"></div>
            </article>
          </div>
          <div class="component_piece_box">
            <article class="component_piece_area">
              <header>이상 상태 분석</header>
              <div id="" class="component_piece_body">
                <article class="component_ele_status">
                  <header>시스템 A</header>
                  <p class="m_05rem">정상 운영</p>
                </article>
                <article class="component_ele_status">
                  <header>시스템 A</header>
                  <p class="m_05rem">정상 운영</p>
                </article>
                <article class="component_ele_status">
                  <header>시스템 A</header>
                  <p class="m_05rem">정상 운영</p>
                </article>
                <article class="component_ele_status">
                  <header>시스템 A</header>
                  <p class="m_05rem">정상 운영</p>
                </article>
              </div>
            </article>
          </div>
        </div> -->
        <div class="container_row flex_dir_col">
          <div id="divDomArea" class="flex_box">
            <div class="lineChart_box default_area" id="section_1"></div>
            <div class="lineChart_box default_area" id="section_2"></div>
          </div>
        </div>
        <!-- 손실저하 요인 분석 -->
        <div class="container_row flex_dir_col">
          <div class="flex flex_jus_bet">
            <p class="table_desc_area">
              손실저하 요인 분석
            </p>
            <div class="submit_box">
              <input type="button" class="btn-info" id="downloadExcel" value="다운로드 엑셀" />
            </div>
          </div>

          <div class="table-responsive default_area">
            <table id="lossAnalysisTable" class="table table-bordered number_table">
              <colgroup>
                <col width="5%" />
                <col width="10%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
              </colgroup>
              <thead>
                <tr>
                  <th rowspan="2">번호</th>
                  <th rowspan="2">시간</th>
                  <th colspan="4">발전 예측</th>
                  <th colspan="7">발전 분석</th>
                  <th colspan="4">손실 저하 요인</th>
                </tr>
                <tr>
                  <th>일사량(W/㎡)</th>
                  <th>예측 발전량(kW)</th>
                  <th>실측 발전량(kW)</th>
                  <th>발전량 오차율(%)</th>

                  <th>예측 모듈 온도(℃)</th>
                  <th>실측 모듈 온도(℃)</th>
                  <th>모듈 온도 오차율(%)</th>
                  <th>예측 모듈 온도 손실(%)</th>
                  <th>수위(cm)</th>
                  <th>수위 손실(%)</th>
                  <th>청정도 손실(%)</th>

                  <th>인버터 운전 손실(%)</th>
                  <th>모듈 노후화 손실(%)</th>
                  <th>어레이 미스매치 손실(%)</th>
                  <th>기타(%)</th>
                </tr>
              </thead>
              <tbody id="lossAnalysis">
                <script id="bodyTemplate" type="template">
                  <tr>
                    <td>{{ rowNumber }}</td>
                    <td>{{ gDate }}</td>

                    <td>{{ avgSolar }}</td>
                    <td>{{ prePower }}</td>
                    <td>{{ realPower }}</td>
                    <td>{{ lossRate }}</td>

                    <td>{{ preWaterModuleTemp }}</td>
                    <td>{{ avgModuleTemp }}</td>
                    <td>{{ moduleTempLoss }}</td>
                    <td>{{ lossModuleTempRate }}</td>
                    <td>{{ avgWaterLevel }}</td>
                    <td>{{ lossWaterLevelRate }}</td>
                    <td>{{ lossCleanlinessRate }}</td>

                    <td>{{ lossInvRate }}</td>
                    <td>{{ lossAgingRate }}</td>
                    <td>{{ lossMissMatchRate }}</td>
                    <td>{{ lossPointRate }}</td>
                  </tr>
                </script>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--하단1-->
      <%- include("../master/footer.ejs") %>
    </div>

    <script>
      document.querySelector('#downloadExcel').addEventListener('click', () => {
        exportTableToExcel('lossAnalysisTable', '손실저하 요인 분석')
      })

      $('#subCategoryDom').html(<%- JSON.stringify(dom.subCategoryDom) %>);

      $('#subSelectBoxDom').html(<%- JSON.stringify(dom.subSelectBoxDom) %>);

      const searchRange = <%- JSON.stringify(searchRange) %>;

      const regressionInfo = <%- JSON.stringify(regressionInfo) %>;

      const chartInfo =  <%- JSON.stringify(chartInfo) %>;

      const analysisReport =  <%- JSON.stringify(analysisReport) %>;

      const lossAnalysisRows = <%- JSON.stringify(lossAnalysisRows) %>;

      const mainFontSize = 15;
      const subFontSize = 13;
      setDomElementValueWithJson(document.getElementById('searchArea'), regressionInfo, 'value', 'id')
    </script>

    <script>
      //2. htmlTemplate을 가져온후 Handlebars로 compile 한다.
      var commentTemplate = document.querySelector('#bodyTemplate').innerHTML;
      var commentBindTemplate = Handlebars.compile(commentTemplate);

      //3. 컴파일한 템플릿에 데이터를 집어넣는다. 이 때 리턴값은 html로 나온다.
      var firstRowNum = 0;
      var tableBody = _.map(lossAnalysisRows, function(reportRow, index) {
        var rowNumber = firstRowNum + index + 1;
        Object.assign(reportRow, { rowNumber: rowNumber });

        return commentBindTemplate(reportRow);
      });

      // 4. 리턴받은 html을 target에 innerHTML로 세팅한다.
      var commentUl = document.querySelector('#lossAnalysis');
      $('#lossAnalysis').html(tableBody);

      // // 조회한 쿼리스트링 가져옴
      // var searchInfo = paginationInfo.queryString;
      // // 쿼리스트링이 존재할 경우에만
      // if (typeof searchInfo === 'object') {
      //   // 쿼리스트링 존재 수 만큼 반복하면서 selectBox 값 변경
      //   _.forEach(searchInfo, function(value, key) {
      //     var domElement = document.getElementById(key);
      //     // domElement가 존재할 경우에만 실행
      //     domElement &&
      //       $(domElement)
      //         .val(value)
      //         .prop('selected', true);
      //   });
      // }
    </script>

    <script src="/js/contents/report/search.js"></script>

    <script>
      // 발전 예측 분석 옵션
      const predictPowerOpions = [
        {
          key: 'powerKw',
          name: '실제발전',
          valueSuffix: ' kW',
        },
        {
          key: 'prePowerKw',
          name: '예측발전',
          valueSuffix: ' kW',
        },
      ];

      // 환경 분석 옵션
      const predictEnvOpions = [
        {
          key: 'brineTemp',
          name: '수온',
          valueSuffix: ' ˚C',
        },
        {
          key: 'moduleTemp',
          name: '모듈온도',
          valueSuffix: ' ˚C',
        },
        {
          key: 'waterLevel',
          name: '수위',
          valueSuffix: ' ˚C',
          yAxis: 1,
        },
      ];

      // // 발전 예측 분석 차트
      // makeColumnChart({
      //   domId: 'predictionRate',
      //   xAxis: {
      //     categories: _.map(analysisReport.systemList, 'name'),
      //   },
      //   yAxis: [
      //     {
      //       min: 0,
      //       title: {
      //         text: '발전량',
      //       },
      //       labels: {
      //         format: '{value} kW',
      //         style: {
      //           color: Highcharts.getOptions().colors[1],
      //         },
      //       },
      //     },
      //   ],
      //   series: predictPowerOpions.map(option => {
      //     const { key, name, valueSuffix } = option;
      //     return {
      //       name,
      //       data: _.map(analysisReport.systemList, key),
      //       tooltip: {
      //         valueSuffix,
      //       },
      //     };
      //   }),
      // });

      // // 환경 분석 차트
      // makeColumnChart({
      //   domId: 'envData',
      //   xAxis: {
      //     categories: _.map(analysisReport.systemList, 'name'),
      //   },
      //   yAxis: [
      //     {
      //       min: 0,
      //       title: {
      //         text: '온도',
      //       },
      //       labels: {
      //         format: '{value} ˚C',
      //         style: {
      //           color: Highcharts.getOptions().colors[1],
      //         },
      //       },
      //     },
      //     {
      //       // Secondary yAxis
      //       min: 0,
      //       title: {
      //         text: '수위',
      //         style: {
      //           color: Highcharts.getOptions().colors[1],
      //         },
      //       },
      //       labels: {
      //         format: '{value} cm',
      //         style: {
      //           color: Highcharts.getOptions().colors[1],
      //         },
      //       },
      //       opposite: true,
      //     },
      //   ],
      //   series: predictEnvOpions.map(option => {
      //     const { key, name, valueSuffix, yAxis = 0 } = option;
      //     return {
      //       name,
      //       data: _.map(analysisReport.systemList, key),
      //       yAxis,
      //       tooltip: {
      //         valueSuffix,
      //       },
      //     };
      //   }),
      // });
    </script>

    <!-- 출력 트렌드 1 Negative Area Chart -->
    <script>
      function drawSection1Chart() {
        Highcharts.chart('section_1', {
          chart: {
            type: 'line',
            // marginLeft: 45,
            // marginRight: 20,
            marginTop: 35,
            zoomType: 'xy',
          },
          title: {
            text: '발전 예측 트렌드',
          },
          xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
              second: '%H:%M:%S',
              minute: '%H:%M',
              hour: '%H:%M',
              day: '%m-%e',
              week: '%m-%e',
              month: '%y-%m',
              year: '%Y',
            },
            labels: {
              style: {
                fontSize: subFontSize,
              },
            },
          },
          yAxis: [
            {
              title: {
                text: '발전량 (kW)',
                style: {
                  fontSize: mainFontSize,
                  color: Highcharts.getOptions().colors[10],
                },
              },
              labels: {
                style: {
                  fontSize: subFontSize,
                },
              },
            },
            {
              title: {
                text: '일사량 (W/㎡)',
                style: {
                  fontSize: mainFontSize,
                  color: Highcharts.getOptions().colors[10],
                },
              },
              labels: {
                style: {
                  fontSize: subFontSize,
                },
              },
              opposite: true,
            },
            // {
            //   title: {
            //     text: '기온 (˚C)',
            //     style: {
            //       fontSize: mainFontSize,
            //       color: Highcharts.getOptions().colors[10],
            //     },
            //   },
            //   labels: {
            //     style: {
            //       fontSize: subFontSize,
            //     },
            //   },
            //   opposite: true,
            // },
          ],
          plotOptions: {
            series: {
              marker: false,
            },
          },
          tooltip: {
            shared: true,
          },
          series: chartInfo.dailyPowerData,
          credits: {
            enabled: false,
          },
        });
      }
    </script>

    <!-- 출력 트렌드 2 Negative Area Chart -->
    <script>
      function drawSection2Chart() {
        Highcharts.chart('section_2', {
          chart: {
            type: 'line',
            marginTop: 35,
            zoomType: 'xy',
          },
          title: {
            text: '모듈 온도 예측 트렌드',
          },
          xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
              second: '%H:%M:%S',
              minute: '%H:%M',
              hour: '%H:%M',
              day: '%m-%e',
              week: '%m-%e',
              month: '%y-%m',
              year: '%Y',
            },
            labels: {
              style: {
                fontSize: subFontSize,
              },
            },
          },
          yAxis: [
            {
              title: {
                text: '온도 (˚C)',
                style: {
                  fontSize: mainFontSize,
                  color: Highcharts.getOptions().colors[10],
                },
              },
              labels: {
                style: {
                  fontSize: subFontSize,
                },
              },
            },
            // {
            //   title: {
            //     text: '일사량 (W/㎡)',
            //     style: {
            //       fontSize: mainFontSize,
            //       color: Highcharts.getOptions().colors[10],
            //     },
            //   },
            //   labels: {
            //     style: {
            //       fontSize: subFontSize,
            //     },
            //   },
            //   opposite: true,
            // },
            // {
            //   title: {
            //     text: '기온 (˚C)',
            //     style: {
            //       fontSize: mainFontSize,
            //       color: Highcharts.getOptions().colors[10],
            //     },
            //   },
            //   labels: {
            //     style: {
            //       fontSize: subFontSize,
            //     },
            //   },
            //   opposite: true,
            // },
          ],
          plotOptions: {
            series: {
              marker: false,
            },
          },
          tooltip: {
            shared: true,
          },
          series: chartInfo.dailyEnvChart,
          credits: {
            enabled: false,
          },
        });
      }
    </script>

    <script>
      // 초기 시작시 라디오 체크버튼 클릭처리
      // const subCategory = _.get(trendInfo, 'subCategory');

      checkSelectBoxOption('searchInterval', searchRange.searchInterval);
      checkSelectBoxOption('searchType', searchRange.searchType);
      checkSelectBoxOption('searchOption', searchRange.searchOption);

      // 검색 타입에 따라 적용
      applySearchType(searchRange.searchType);

      // 검색 클릭 시
      document.querySelector('#searchBtn').addEventListener('click', function(event) {
        // searchRange 형태 만듬
        const searchValue = getSearchValue();

        if (_.isEmpty(searchValue)) return false;

        const subCategoryId = document
          .querySelector('#subSelectBoxDom option:checked')
          .value.trim();
        // searchValue = Object.assign(searchValue, { subCategoryId: subCategoryId.trim() });

        // 보정계수 검색
        document.querySelectorAll('[name=subSearch]').forEach(domElement => {
          searchValue[domElement.id] = domElement.value;
        });
        // 쿼리스트링 생성
        const queryString = _.map(searchValue, function(value, key) {
          return key + '=' + value;
        }).join('&');

        if (queryString.length) {
          $('#loader').removeClass('hidden');
          $('#loader-ground').removeClass('hidden');

          // 사이트 변경 시
          location.href = `${window.location.origin}/${naviId}/${siteId}/${subCategory}/${subCategoryId}?${queryString}`;
        }
      });
    </script>

    <!-- FIXME: 시연용 1분 단위 ReDraw -->
    <script>
      function drawAllChart() {
        drawSection1Chart();
        drawSection2Chart();
        // drawSection3Chart();
        // drawSection4Chart();
      }
      drawAllChart();

      $(document).ready(function() {
        // FIXME: 1분에 한번씩 갱신 시연
        // setInterval(drawAllChart, 1000 * 10);
      });
    </script>
  </body>
</html>
