<!DOCTYPE html>
<html>

<head>
  <!-- Default Js -->
  <%- include("../master/head.ejs") %>
  <script src="/js/contents/master/mainUtil.js"></script>
  <link href="/css/spinner.css" rel="stylesheet" />
</head>

<body>
  <%- include("../master/spinner.ejs") %>
  <div id="wrap" class="wrap hidden">
    <!-- Header -->
    <%- include("../master/header.ejs") %>
    <!--메인-->
    <div class="container_body">
      <div class="container_row mb_50rem">
        <div id="subCategoryDom" class="report_category">
          <button type="button" value="sensor" class="btn btn-default btn1">생육환경</button>
          <button type="button" value="inverter" class="btn btn-success btn2">인버터</button>
        </div>
      </div>
      <div class="container_row flex_jus_end default_search_area mt0">
        <div class="search_area">
          <div class="search_box search_category_box ml0">
            <span class="search_title">인버터</span>
            <select id="subSelectBoxDom" class="form-control">
            </select>
          </div>
          <div class="search_box search_range_box">
            <span class="search_title">조회기간</span>
            <select id="searchType" class="form-control">
              <option value="days">일일</option>
              <option value="months">월간</option>
              <option value="years">년간</option>
              <option value="range">기간선택</option>
            </select>
          </div>
          <div class="search_box search_interval_box">
            <span class="search_title">조회간격</span>
            <select id="searchInterval" class="form-control">
              <option value="min">1분</option>
              <option value="min10">10분</option>
              <option value="hour">1시간</option>
              <option value="day">1일</option>
              <option value="month">1달</option>
              <option value="year">1년</option>
            </select>
          </div>
          <div class="search_box">
            <span class="search_title">날짜</span>
            <div class="search_body">
              <input class="input_tre" name="start" id="strStartDateInputValue" type="text" readonly>
              <span id="between-start-end" hidden>~</span>
              <input class="input_tre" name="end" id="strEndDateInputValue" type="text" readonly hidden>
            </div>
          </div>
          <div class="submit_box">
            <button type="button" class="btn btn-primary" onclick="searchReport()" id="search">검색</button>
            <input type="image" id="downloadExcel" class="icon" src="/image/common/excel-icon.jpg">
          </div>
        </div>
      </div>
      <div class="container_row flex_dir_col">
        <div class="table-responsive default_area">
          <table class="table table-bordered number_table">
            <colgroup>
              <col width="8%" />
              <col width="14%" />
              <col width="8%" />
              <col width="8%" />
              <col width="8%" />
              <col width="8%" />
              <col width="8%" />
              <col width="8%" />
              <col width="11%" />
              <col width="8%" />
              <col width="11%" />
            </colgroup>
            <thead>
              <tr>
                <th rowspan="2">번호</th>
                <th rowspan="2">일시</th>
                <th colspan="3">태양광</th>
                <th colspan="3">인버터</th>
                <th colspan="3">발전현황</th>
              </tr>
              <tr>
                <th>DC 전류(A)</th>
                <th>DC 전압(V)</th>
                <th>DC 전력(kW)</th>
                <th>AC 전류(A)</th>
                <th>AC 전압(V)</th>
                <th>주파수(Hz)</th>
                <th>기간 발전량(kW)</th>
                <th>효율 (%)</th>
                <th>누적 발전량(kWh)</th>
              </tr>
            </thead>
            <tbody id="reportDom">
            </tbody>
          </table>
        </div>
        <div id="paginationDom" class="table_pagenation"></div>
      </div>
    </div>
    <!--하단1-->
    <%- include("../master/footer.ejs") %>

  </div>
  <script>
    // 인버터 목록 돔
    $('#subCategoryDom').html(<%- JSON.stringify(dom.subCategoryDom) %>);
    $('#subSelectBoxDom').html(<%- JSON.stringify(dom.subSelectBoxDom) %>);
    $('#reportDom').html(<%- JSON.stringify(dom.reportDom) %>);
    $('#paginationDom').html(<%- JSON.stringify(dom.paginationDom) %>);
    // 초기 시작시 라디오 체크버튼 클릭처리
    var searchRange = <%- JSON.stringify(searchRange)  %>;
    console.log(searchRange)
    const {
      siteId,
      subCategory,
      subCategoryId
    } = <%- JSON.stringify(reportInfo) %>;
  </script>

  <script src="/js/contents/report/search.js"></script>

  <!-- 기본 데이터 세팅 -->
  <script>
    checkSelectBoxOption("searchInterval", searchRange.searchInterval)
    checkSelectBoxOption("searchType", searchRange.searchType)
    checkSelectBoxOption("searchOption", searchRange.searchOption)

    // 검색 타입에 따라 적용
    applySearchType(searchRange.searchType)
  </script>

</body>

</html>