<!DOCTYPE html>
<html>

<head>
  <!-- Default Js -->
  <%- include("../master/head.ejs") %>
  <script src="/js/contents/master/mainUtil.js"></script>
  <%- include("./mediaQuery.ejs") %>
</head>

<body>
  <div id="wrap" class="wrap hidden" style="background-image: url('/image/bg_1025.jpg'); background-color:#e9e9e9;">
    <div class="center">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="containera">
        <div class="text-center" style="background-color:#fff; height:auto;">
          <div class="row row_width  top_box" style="padding:5px;">
            <div id="subCategoryDom" class="table-responsive row_width" style="text-align: left">
              <button type="button" value="sensor" class="btn btn-success btn1">생육환경</button>
              <button type="button" value="inverter" class="btn btn-default btn2">인버터</button>
            </div>
            <div class="sel">
              <div class="col-xs-2 pad sel_box" style="margin-left: 0px">
                생육 환경
                <select class="form-control form-control_st" id="subSelectBoxDom" name="device_seq">
                </select>
              </div>
              <div class="sel_box3">
                <span>조회기간</span>
                <select id="searchType" class="form-control">
                  <option value="hour">일일</option>
                  <option value="day">월간</option>
                  <option value="month">년간</option>
                  <option value="range">기간선택</option>
                </select>
              </div>
              <div class="sel_box3">
                <span>조회간격</span>
                <select id="searchInterval" class="form-control">
                  <option value="min">1분</option>
                  <option value="min10">10분</option>
                  <option value="hour">1시간</option>
                  <option value="day">1일</option>
                  <option value="month">1달</option>
                  <option value="year">1년</option>
                </select>
              </div>
              <div class="sel_box3">
                <span>조회설정</span>
                <select id="searchOption" class="form-control">
                  <option value="merge">병합</option>
                  <option value="individual">개별</option>
                </select>
              </div>
              <!--</div>-->
              <div class="serch_st sel_box_data">
                날짜 &nbsp;
                <input class="input_tre" name="start" id="strStartDateInputValue" type="text" readonly="">
                <span id="between-start-end" hidden>~</span>
                <input class="input_tre" name="end" id="strEndDateInputValue" type="text" readonly="" hidden="hidden"
                  style="display: none;">
                <button type="button" class="btn btn-primary" onclick="searchReport()" id="search">검색</button>
                <input type="image" src="/image/2000px-Microsoft_Excel_2013_logo.svg.png" class="exc" onclick="doit('xlsx');">
              </div>
            </div>
          </div>
          <div class="table-responsive" style="overflow-x:visible;">
            <table class="table table-bordered" style="width:100%;background:#fff;">
              <thead>
                <tr>
                  <th scope="col" style="width:5%">번호</th>
                  <th scope="col" style="width:9%">일시</th>
                  <th scope="col" style="width:7%">조도(lx)</th>
                  <th scope="col" style="width:7%">이산화탄소(ppm)</th>
                  <th scope="col" style="width:7%">토양수분(%)</th>
                  <th scope="col" style="width:7%">토양온도(℃)</th>
                  <th scope="col" style="width:7%">토양습도(%)</th>
                  <th scope="col" style="width:7%">외기온도(℃)</th>
                  <th scope="col" style="width:7%">외기습도(%)</th>
                  <th scope="col" style="width:7%">수평일사량(W/m2)</th>
                  <!-- <th scope="col" style="width:7%">풍향</th> -->
                  <th scope="col" style="width:7%">풍속(km/h)</th>
                  <th scope="col" style="width:6%">강우량(mm/hr)</th>
                  <!-- <th scope="col" style="width:6%">강우상황</th> -->
                </tr>
              </thead>
              <!-- <thead>
                <tr>
                  <th scope="col" rowspan="2" style="width:5%">번호</th>
                  <th scope="col" rowspan="2" style="width:9%">일시</th>
                  <th scope="col" colspan="3" style="width:30%">태양광</th>
                  <th scope="col" colspan="3" style="width:20%">인버터</th>
                  <th scope="col" colspan="3" style="width:40%">발전현황</th>
                </tr>
                <tr>
                  <th style="width:7%;">DC전류(A)</th>
                  <th style="width:7%;">DC전압(V)</th>
                  <th style="width:7%;">DC전력(kW)</th>
                  <th style="width:8%;">AC전류(A)</th>
                  <th style="width:8%;">AC전압(V)</th>
                  <th style="width:8%;">주파수(Hz)</th>
                  <th style="width:8%;">현재전력(kW)</th>
                  <th style="width:6%;">효율</th>
                  <th style="width:8%;">누적발전량(kWh)</th>
                </tr>
              </thead> -->
              <tbody id="reportDom">
              </tbody>
            </table>
            <nav id="paginationDom" aria-label="...">
            </nav>
          </div>
        </div>
      </div>
      <!--하단1-->
      <div class="container-fluid bg-3 text-center">
      </div><br>
      <%- include("../master/footer.ejs") %>
    </div>
  </div>
  <script>
    // 인버터 목록 돔
    $('#subCategoryDom').html(<%- JSON.stringify(dom.subCategoryDom) %>);
    $('#subSelectBoxDom').html(<%- JSON.stringify(dom.subSelectBoxDom) %>);
    $('#reportDom').html(<%- JSON.stringify(dom.reportDom) %>);
    $('#paginationDom').html(<%- JSON.stringify(dom.paginationDom) %>);
  </script>

  <!-- 기본 데이터 세팅 -->
  <script>
    // 초기 시작시 라디오 체크버튼 클릭처리
    var searchRange = <%- JSON.stringify(searchRange)  %>;
    console.log(searchRange)
    const {
      siteId,
      subCategory,
      subCategoryId
    } = <%- JSON.stringify(reportInfo) %>;

    // 생육 환경, 인버터 클릭 시 페이지 이동
    $('#subCategoryDom').children().each((index, dom) => {
      $(dom).on('click', function () {
        location.href = window.location.origin + '/' + naviId + '/' + siteId + '/' + $(this).val()
      })
    })

    var trendReportList = '';

    var $is = $("#searchInterval option");
    $is.each(function (index, dom) {
      // dom.getAttribute('value')
      if (dom.getAttribute('value') === searchRange.searchInterval) {
        dom.selected = true;
      } else {
        dom.selected = false;
      }
    })

    // 검색 타입에 따라 적용
    applySearchType(searchRange.searchType)

    $('#searchType').on('change', function () {
      applySearchType($(this).val())
    })


    /**
     * 검색 기간 Radio 클릭 시 날짜 영역 설정
     * @param {Dom} input[name='searchType']
     * @return {void} 
     */
    function applySearchType(value) {
      console.log(value)
      var checkedSearchType = value;
      var startDateDom = document.querySelector('#strStartDateInputValue');
      var endDateDom = document.querySelector('#strEndDateInputValue');

      var startDate = new Date(searchRange.strStartDateInputValue);
      var endDate = searchRange.strEndDateInputValue === '' || new Date(searchRange.strEndDateInputValue) ===
        'Invalid Date' ? startDate : new Date(searchRange.strEndDateInputValue);

      var viewMode = 0;
      var sliceEndIndex = 10;

      if (checkedSearchType === 'range') {
        $('#strEndDateInputValue').show()
        $('#between-start-end').show()
      } else {
        $('#strEndDateInputValue').hide();
        $('#between-start-end').hide()
      }

      if (checkedSearchType == 'month') {
        viewMode = 2;
        sliceEndIndex = 4;
      } else if (checkedSearchType == 'day') {
        viewMode = 1;
        sliceEndIndex = 7;
      } else if (checkedSearchType == 'range') {
        makeDatePicker(endDateDom, 0);
        endDateDom.value = endDate.toISOString().substring(0, sliceEndIndex);
      } else {
        viewMode = 0;
        sliceEndIndex = 10;
      }
      startDateDom.value = startDate.toISOString().substring(0, sliceEndIndex);
      makeDatePicker(startDateDom, viewMode);
    }

    // 검색 클릭 시
    function searchReport() {
      var subCategoryId = document.querySelector('#subSelectBoxDom option:checked').value;
      subCategoryId = subCategoryId.trim();
      var searchInterval = document.querySelector('#searchInterval option:checked').value;
      var searchType = document.querySelector('#searchType option:checked').value;
      var strStartDateInputValue = document.getElementById('strStartDateInputValue').value;
      var strEndDateInputValue = '';

      if (searchType === 'range') {
        strEndDateInputValue = document.getElementById('strEndDateInputValue').value;
        if (strStartDateInputValue > strEndDateInputValue) {
          return alert('종료일이 시작일보다 빠를 수 없습니다.');
        }
      }

      const queryString =
        `searchType=${searchType}&searchInterval=${searchInterval}&strStartDateInputValue=${strStartDateInputValue}&strEndDateInputValue=${strEndDateInputValue}`;

      // 사이트 변경 시
      location.href = window.location.origin + '/' + naviId + '/' + siteId + '/' + subCategory + '/' + subCategoryId +
        '?' + queryString;

    }
  </script>

</body>

</html>