<!DOCTYPE html>
<html>

<head>
  <!-- Default Js -->

  <%- include("../master/head.ejs") %>
  <script src="/js/contents/master/mainUtil.js"></script>
  <script src="/js/contents/main/hichartMaker.js"></script>
  <%- include("./mediaQuery.ejs") %>
</head>

<body>
  <div id="wrap" class="wrap hidden" style="background-image: url('/image/bg_1025.jpg'); background-color:#e9e9e9;">
    <div class="center">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="containera">
        <div class="containerb text-center">
          <div class="box">
            <div class="cont-box-rotate_f">
              <div class="cont-box-rotate"></div>
            </div>
            <div class="deve">
              <p>발전현황</p>
              <p>Development status</p>
            </div>
            <div id="powerStatus" class="deve_1">
              <div class="stat">
                <p><I>현재출력</I></p>
                <input id="currKw" class="wed_1" style="margin-left:13px;" type="text" value="">
                <span>kW</span>
              </div>
              <div class="stat">
                <p><I>금일발전량</I></p>
                <input id="dailyPower" class="wed_1" type="text" value="">
                <span>kWh</span>
              </div>
              <div class="stat">
                <p><I>당월발전량</I></p>
                <input id="monthPower" class="wed_1" type="text" value="">
                <span>kWh</span>
              </div>
              <div class="stat">
                <p><I>누적발전량</I></p>
                <input id="cumulativePower" class="wed_1" type="text" value="">
                <span>MWh</span>
              </div>
              <!-- <div class="stat">
                <p><I>CO2저감량</I></p>
                <input id="co2" class="wed_1" type="text" value="">
                <span>Ton</span>
              </div> -->
            </div>
          </div>
          <div class="box_2">
            <p style="margin-top:10px; font-weight:bold;">현재 발전현황</p>
            <div id="current-power-graph" style="align-self: center;width:90%; height:80%; background-color:#e9e9e9;">Graph</div>
          </div>
          <div class="box_3">
            <p style="margin-top:10px; font-weight:bold;">금일발전량</p>
            <div id="daily-power-graph" style="align-self: center; width:90%; height:80%; background-color:#e9e9e9;">Graph</div>
          </div>
        </div>
        <div class="text-center containerc">
          <div class="box_4">
            <div class="cont-box-rotate_s">
              <div class="cont-box-rotate_1"></div>
            </div>
            <div class="deve">
              <p>생육환경정보</p>
              <p>Growth Environment</p>
            </div>
            <div id="growthEnv" class="deve_1">
              <div class="stat">
                <p><I>일사량</I></p>
                <input id="inclinedSolar" class="wed_1" type="text" value="">
                <span>W/m²</span>
              </div>
              <div class="stat">
                <p><I>조도</I></p>
                <input id="lux" class="wed_1" type="text" value="">
                <span>lx</span>
              </div>
              <div class="stat">
                <p><I>CO2</I></p>
                <input id="co2" class="wed_1" type="text" value="">
                <span>ppm</span>
              </div>
              <div class="stat">
                <p><I>외기온도</I></p>
                <input id="outsideAirTemperature" class="wed_1" type="text" value="">
                <span>℃</span>
              </div>
              <div class="stat">
                <p><I>외기습도</I></p>
                <input id="outsideAirReh" class="wed_1" type="text" value="">
                <span>%</span>
              </div>
              <div class="stat">
                <p><I>토양온도</I></p>
                <input id="soilTemperature" class="wed_1" type="text" value="">
                <span>℃</span>
              </div>
              <div class="stat">
                <p><I>토양습도</I></p>
                <input id="soilReh" class="wed_1" type="text" value="">
                <span>%</span>
              </div>
              <div class="stat">
                <p><I>토양수분</I></p>
                <input id="soilWaterValue" class="wed_1" type="text" value="">
                <span>%</span>
              </div>
            </div>
            <!-- <div class="deve_1">
              <div class="stat">
                <p><I>기계</I></p>
                <input class="wed_1" type="text" value="정상">
              </div>
            </div> -->
          </div>
          <div class="box_5">
            <p>인버터 전압/전류</p>
            <div id="inverterStatus" class="box_5_bg">
              <div class="box_5_in">
                <div class="box_5_a" style="word-break: keep-all;
                word-wrap: break-word; padding: 5px; text-align: left">
                  <b>
                  </b>
                </div>
                <div class="box_5_a">
                  <div class="box_5_in_sp">
                    <p>AC전압</p>
                  </div>
                  <div> <input class="wed_3" type="text"><span> V</span></div>
                </div>
                <div class="box_5_a">
                  <div class="box_5_in_sp">
                    <p>AC전류</p>
                  </div>
                  <div> <input class="wed_3" type="text"><span> A</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="box_2">
            <p style="margin:10px 0; font-weight:bold;">생육 환경 현황</p>
            <div id="growthEnvChart" style="align-self: center;width:90%; height:80%; background-color:#e9e9e9;">Graph</div>
          </div>
          <!-- <div class="box_6">
            <div class="box_6_in">
              <div class="box_6_in_4">
                <img src="/image/no1.png" />
                <p>일사량</p>
                <input id="inclinedSolar" class="wed_4" type="text" value=""><span> W/㎥</span>
              </div>
              <div class="box_6_in_4">
                <img src="/image/no2.png" />
                <p>모듈온도</p>
                <input class="wed_4" type="text" value="7.1"><span> ℃</span>
              </div>
              <div class="box_6_in_4">
                <img src="/image/no3.png" />
                <p>인버터</p>
                <input class="wed_4" type="text" value="STOP">
              </div>
              <div class="box_6_in_4">
                <img src="/image/no4.png" />
                <p>경보</p>
                <input class="wed_4" type="text" value="정상">
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <!--하단1-->
      <div class="container-fluid bg-3 text-center">
      </div><br>
      <%- include("../master/footer.ejs") %>
    </div>
  </div>
  </div>
  <script>
    let powerGenerationInfo = <%- JSON.stringify(powerGenerationInfo) %>;
    let growthEnv = <%- JSON.stringify(growthEnv) %>;

    document.getElementById('inclinedSolar').setAttribute('value', powerGenerationInfo.inclinedSolar);

    // 발전 현황 셋팅
    setDomElementValueWithJson(document.getElementById('powerStatus'), powerGenerationInfo, 'value', 'id')
    setDomElementValueWithJson(document.getElementById('growthEnv'), growthEnv, 'value', 'id')

    $('#inverterStatus').html(<%- JSON.stringify(dom.inverterStatusListDom) %>)

    // 금일 발전량 차트
    makeGaugeChart({
      domId: 'daily-power-graph',
      yAxis: {
        min: 0,
        max: powerGenerationInfo.currKwYaxisMax * 6,
        title: ''
      },
      series: {
        name: '',
        data: 333.2,
        // data: powerGenerationInfo.dailyPower,
        tooltip: {
          valueSuffix: 'kWh'
        }
      },
    })
    // 현재 발전량 차트
    // makeGaugeChart({
    //   domId: 'current-power-graph',
    //   yAxis: {
    //     min: 0,
    //     max: powerGenerationInfo.currKwYaxisMax,
    //     title: ''
    //   },
    //   series: {
    //     name: '',
    //     data: powerGenerationInfo.currKw,
    //     tooltip: {
    //       valueSuffix: 'kW'
    //     }
    //   },
    // })

    makeSpeedGaugeChart({
      domId: 'current-power-graph',
      yAxis: {
        min: 0,
        max: powerGenerationInfo.currKwYaxisMax,
        title: ''
      },
      series: {
        name: '',
        data: powerGenerationInfo.currKw,
        tooltip: {
          valueSuffix: 'kW'
        }
      },
    })


    function makeSpeedGaugeChart(gaugeOption) {
      const {
        domId,
        yAxis,
        series
      } = gaugeOption;

      Highcharts.chart('current-power-graph',
        Highcharts.merge(gaugeOptions, {
          chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false
          },

          title: {
            text: 'Speedometer'
          },

          pane: {
            // center: ['50%', '75%'],
            size: '140%',
            // startAngle: -90,
            // endAngle: 90,
            background: {
              // backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#fff',
              // innerRadius: '100%',
              // outerRadius: '100%',
              // shape: 'arc',
            },
          },

          // the value axis
          yAxis: {
            min: yAxis.min,
            max: yAxis.max,
            // lineWidth: 0,
            tickAmount: undefined,

            // minorTickInterval: 'auto',
            // minorTickWidth: 0,
            // minorTickLength: 10,
            // minorTickPosition: 'inside',
            // minorTickColor: '#666',

            tickPixelInterval: 50,
            tickWidth: 1,
            // tickPosition: 'inside',
            // tickLength: 10,
            tickColor: '#999',
            labels: {
              step: 2,
              distance: 15,
              y: 5
              // rotation: 'auto'
            },
            title: {
              text: yAxis.title,
            },
            // title: {
            //   text: 'km/h',
            //   y: -60
            // },
            plotBands: [{
              from: yAxis.min,
              to: yAxis.max,
              thickness: '40%',
              color: {
                linearGradient: {
                  x1: 0,
                  x2: 1,
                  y1: 1,
                  y2: 1
                },
                stops: [
                  [0, '#55BF3B'], //green
                  [0.5, '#DDDF0D'], //yellow
                  [1, '#DF5353'], //yellow
                ]
              }
            }]
          },
          plotOptions: {
            gauge: {
              dial: {
                radius: '90%',
                // backgroundColor: 'black',
                // borderColor: 'black',
                // borderWidth: 1,
                // baseWidth: 3,
                // topWidth: 1,
                baseLength: '90%', // of radius
                // rearLength: '10%'
              }
            }
          },

          series: [{
            name: series.name,
            data: [88.2],
            type: 'gauge',
            dataLabels: {
              borderWidth: 0,
              inside: false,
              format: `<div style="text-align:center;border: none"><span style="font-size:25px;color:red}">{y}</span><br/>
              <span style="font-size:12px;color:silver">${series.tooltip.valueSuffix}</span></div>`,
            },
            // tooltip: {
            //   valueSuffix: series.tooltip.valueSuffix,
            // },
          }, ],


        }))



    }




    makeColumnChart({
      domId: 'growthEnvChart',
      xAxis: {
        categories: ['토양', '외기']
      },
      yAxis: [{
          labels: {
            format: '{value} °C',
            style: {
              color: Highcharts.getOptions().colors[1]
            }
          },
          title: {
            text: '온도'
          },
          min: -10,
          max: 40,
          tickInterval: 10,
          // tickAmount: 5,
        },
        {
          labels: {
            format: '{value} %',
            style: {
              color: Highcharts.getOptions().colors[1]
            }
          },
          title: {
            text: '습도'
          },
          min: 0,
          max: 100,
          tickInterval: 20,
          // tickAmount: 5,
          opposite: 1
        }
      ],
      series: [{
          name: '온도',
          data: [growthEnv.soilTemperature, growthEnv.outsideAirTemperature],
          color: 'red',
          tooltip: {
            valueSuffix: ' °C'
          }
        },
        {
          name: '습도',
          data: [growthEnv.soilReh, growthEnv.outsideAirReh],
          yAxis: 1,
          tooltip: {
            valueSuffix: ' %'
          }
        },
        {
          name: '수분',
          data: [growthEnv.soilWaterValue],
          yAxis: 1,
          tooltip: {
            valueSuffix: ' %'
          }
        }
      ]
    })
  </script>


</body>

</html>