<header>
  <div class="header_top b_center">
    <div id="loginAreaDom">
      <span>tester님. 환영합니다.</span><a href="/auth/logout">logout</a>
    </div>
  </div>
  <nav class="navbar navbar-inverse container-fluid">
    <div class=" b_center">
      <!-- <div class="b_center"> -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand tit_1" href="/main">
          <img style="width:30px; height:30px; margin:0px; margin-right:5px;" src="/image/farm_icon.png" />
          농업병행 태양광발전 모니터링
        </a>
      </div>
      <div id="myNavbar" class="collapse navbar-collapse navbar-right">
        <ul id="naviListDom" class="nav navbar-nav">
          <li><a href="/main">메인</a></li>
          <li><a href="/inverter">인버터</a></li>
          <li><a href="/sensor">생육환경</a></li>
          <li><a href="/trend">트렌드</a></li>
          <li><a href="/report">보고서</a></li>
        </ul>
      </div>
      <!-- </div> -->
    </div>
  </nav>
  <div class="row" style="background: linear-gradient( to bottom, #343535, #272727 );">
    <div style="max-width:1024px; margin: 0 auto">
      <div class="col-md-12" style="">
        <div class="col-md-6 header_w_r">
          <form>
            <select id="siteListDom" name="city" class="city">
            </select>
          </form>
        </div>
        <div class="col-md-6 header_w_r">
          <div id="weathercastDom" class="nav_row_st_right">
            <span style="margin-right:40px;" id="currDate"></span>
            <span>날씨</span>
            <img id="currWeatherImg">
            <input type="text" id="currWeatherTemp" readonly class="form-control" style="text-align: center">
            <span class="Temperature">℃</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-12" style="padding:0;     background-image: linear-gradient(#393939, #222222);"> -->

</header>

<script>
  var naviId = <%- JSON.stringify(mainInfo.naviId) %>;
  // console.log('naviId', naviId)

  // 네비게이션 DOM
  $('#loginAreaDom').html(<%- JSON.stringify(dom.loginAreaDom) %>);
  // 네비게이션 DOM
  $('#naviListDom').html(<%- JSON.stringify(dom.naviListDom) %>);
  // 사이트 목록 DOM
  $('#siteListDom').html(<%- JSON.stringify(dom.siteListDom) %>);
  // 날씨 동적 DOM 생성
  $('#weathercastDom').html(<%- JSON.stringify(dom.weathercastDom) %>);

  // 사이트 변경 시
  $('#siteListDom').change(function () {
    location.href = window.location.origin + '/' + naviId + '/' + $(this).val();
    // location.href = window.location.pathname + '/' + $(this).val()
  })

  // 페이지 동적 바인딩이 완료되었을 경우 View 처리
  window.onload = function () {
    $('#wrap').removeClass('hidden')
    // Spinner Loader
    // $('#loader').removeClass('hidden')
    // $('#loader-ground').removeClass('hidden')
  }
</script>