<!DOCTYPE html>
<html>

<head>
  <!-- Default Js -->
  <%- include("../master/head.ejs") %>
  <script src="/js/contents/master/mainUtil.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsmpeg/0.1/jsmpg.js"></script>
  <script src="/js/muanCCTV/common.js"></script>
  <!-- <script src="/js/muanCCTV/index.js"></script> -->
  <!-- <script src="/js/muanCCTV/notifycube.js"></script>
  <script src="/js/muanCCTV/plugindef.js"></script>
  <script src="/js/muanCCTV/rtspctrl.js"></script> -->



  <script src="http://cdn.shinobi.video/js/socket.io.js"></script>
  <script src="http://cdn.shinobi.video/js/jquery.min.js"></script>
  <!--Special JSMPEG Start-->
  <!--You need this version. Check for updates here https://github.com/ShinobiCCTV/jsmpeg-pipe -->
  <script src="http://cdn.shinobi.video/js/jsmpeg.pipe.js"></script>


  <link href="/css/muanCCTV/homepage.css" rel="stylesheet" />
  <link href="/css/muanCCTV/blue_theme_home.css" rel="stylesheet" />
  <%- include("./mediaQuery.ejs") %>
</head>

<body>
  <div id="wrap" class="wrap hidden" style="background-image: url('/image/bg_1025.jpg'); background-color:#e9e9e9;">
    <div class="center">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="containera">
        <button id="btn_snapshot" title="Snapshot" style="background-position: 0px 0px;" onclick="clientsidesnapshot()"></button>
        <div id="control-area" style="padding-top: 0px;"><b class="niftycorners" style="margin-left: -10px; margin-right: -10px; background: rgb(255, 255, 255); margin-bottom: -10px;"><b
              class="rb1" style="background-color: rgb(196, 234, 255); border-color: rgb(225, 244, 255); border-left-width: 0px; margin-left: 0px;"></b><b
              class="rb2" style="background-color: rgb(196, 234, 255); border-color: rgb(225, 244, 255); border-left-width: 0px; margin-left: 0px;"></b><b
              class="rb3" style="background-color: rgb(196, 234, 255); border-color: rgb(225, 244, 255); border-left-width: 0px; margin-left: 0px;"></b><b
              class="rb4" style="background-color: rgb(196, 234, 255); border-color: rgb(225, 244, 255); border-left-width: 0px; margin-left: 0px;"></b><b
              class="rb5" style="background-color: rgb(196, 234, 255); border-color: rgb(225, 244, 255); border-left-width: 0px; margin-left: 0px;"></b><b
              class="rb6" style="background-color: rgb(196, 234, 255); border-color: rgb(225, 244, 255); border-left-width: 0px; margin-left: 0px;"></b><b
              class="rb7" style="background-color: rgb(196, 234, 255); border-color: rgb(225, 244, 255); border-left-width: 0px; margin-left: 0px;"></b><b
              class="rb8" style="background-color: rgb(196, 234, 255); border-color: rgb(225, 244, 255); border-left-width: 0px; margin-left: 0px;"></b></b>
          <table class="CtrlArea">
            <tbody>
              <!-- <tr id="video_stream">
                <td>
                  <span title="symbol">stream1</span>
                  <span title="">Video Stream</span>
                </td>
                <td>
                  <select id="StreamSelector" onchange="StreamChanged(this);" class="select_StreamSelector">
                    <option value="0">1</option>
                    <option value="1">2</option>
                  </select>
                </td>
              </tr>
              <tr id="digital_output">
                <td>
                  <span title="">Digital Output</span>
                </td>
                <td>
                  <div id="digitalOutPut-bar" style="overflow: visible;">
                    <button id="btn_do_on" style="background-position: 0px -36px;" onclick="DOButtonStatusUpdate();retframe.location.href='/cgi-bin/dido/setdo.cgi?do0=1';"
                      disabled=""></button>
                    <button id="btn_do_off" style="background-Position: -24px 0px;" onclick="DOButtonStatusUpdate();retframe.location.href='/cgi-bin/dido/setdo.cgi?do0=0';"></button>
                  </div>
                </td>
              </tr> -->
              <!--<tr>
                <td colspan="2">
                  <span title="symbol">camera_control</span>
                </td>
              </tr>-->
              <tr id="ptz_direction">
                <td colspan="2">
                  <table class="CameraCtrlBlock1">
                    <tbody>
                      <tr>
                        <td></td>
                        <td>
                          <button id="btn_ptz_up" style="background-position: 0px 0px;" onclick="CamControl('move','up')">
                          </button></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>
                          <button id="btn_ptz_left" style="background-position: -69px 0px;" onclick="CamControl('move','left')"></button>
                        </td>
                        <td>
                          <button id="btn_ptz_home" style="background-position: -46px 0px;" onclick="CamControl('move','home')"></button>
                        </td>
                        <td>
                          <button id="btn_ptz_right" style="background-position: -105px 0px;" onclick="CamControl('move','right')"></button>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>
                          <button id="btn_ptz_down" style="background-position: -23px 0px;" onclick="CamControl('move','down')"></button>
                        </td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr id="ptz_zoom">
                <td colspan="2">
                  <div class="CameraCtrlBlock2">
                    <button id="btn_ptz_zoomWide" style="background-position: -169px 0px;" onclick="CamControl('zoom', 'wide')">&nbsp;</button>
                    <button id="btn_ptz_zoom" style="background-Position: -267px 0px;" hidefocus="true" value="Zoom">Zoom</button>
                    <button id="btn_ptz_zoomTele" style="background-position: -141px 0px;" onclick="CamControl('zoom', 'tele')">&nbsp;</button>
                  </div>
                </td>
              </tr>
              <tr id="ptz_focus">
                <td colspan="2">
                  <div class="CameraCtrlBlock2">
                    <button id="btn_ptz_focusNear" style="background-position: -169px 0px;" onclick="CamControl('focus', 'near')">&nbsp;</button>
                    <button id="btn_ptz_focusAuto" style="background-position: -267px 0px;" onclick="CamControl('focus', 'auto')">Focus</button>
                    <button id="btn_ptz_focusFar" style="background-position: -141px 0px;" onclick="CamControl('focus', 'far')">&nbsp;</button>
                  </div>
                </td>
              </tr>
              <tr id="ptz_iris">
                <td colspan="2">
                  <div class="CameraCtrlBlock2">
                    <button id="btn_ptz_irisDec" style="background-position: -169px 0px;" onclick="CamControl('iris', 'close')">&nbsp;</button>
                    <button id="btn_ptz_irisAuto" style="background-position: -267px 0px;" onclick="CamControl('iris', 'auto')">Iris</button>
                    <button id="btn_ptz_irisInc" style="background-position: -141px 0px;" onclick="CamControl('iris', 'open')">&nbsp;</button>
                  </div>
                </td>
              </tr>
              <tr id="ptz_psp">
                <td colspan="2">
                  <div class="CameraCtrlBlock2">
                    <button id="btn_ptz_pan" style="background-position: -407px 0px;" onclick="CamControl('auto', 'pan');"></button>
                    <button id="btn_ptz_stop" style="background-position: -449px 0px;" onclick="CamControl('auto', 'stop');"></button>
                    <button id="btn_ptz_patrol" style="background-position: -491px 0px;" onclick="CamControl('auto', 'patrol');"></button>
                  </div>
                </td>
              </tr>
              <tr id="ptz_pan_speed">
                <td>
                  <span title="" class="wordwrap">Pan speed</span>
                </td>
                <td>
                  <select title="" name="camctrl_c0_panspeed" onchange="SubmitPanspeed(this)">
                    <option value="-5">-5</option>
                    <option value="-4">-4</option>
                    <option value="-3">-3</option>
                    <option value="-2">-2</option>
                    <option value="-1">-1</option>
                    <option selected="" value="0"> 0 </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </td>
              </tr>
              <tr id="ptz_tilt_speed">
                <td>
                  <span title="" class="wordwrap">Tilt speed</span>
                </td>
                <td>
                  <select title="" name="camctrl_c0_tiltspeed" onchange="SubmitTiltspeed(this)">
                    <option value="-5">-5</option>
                    <option value="-4">-4</option>
                    <option value="-3">-3</option>
                    <option value="-2">-2</option>
                    <option value="-1">-1</option>
                    <option selected="" value="0"> 0 </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </td>
              </tr>
              <tr id="ptz_zoom_speed">
                <td>
                  <span title="" class="wordwrap" style="max-width:150px;">Zoom speed</span>
                </td>
                <td>
                  <select title="" name="camctrl_c0_zoomspeed" onchange="SubmitZoomspeed(this)">
                    <option value="-5">-5</option>
                    <option value="-4">-4</option>
                    <option value="-3">-3</option>
                    <option value="-2">-2</option>
                    <option value="-1">-1</option>
                    <option selected="" value="0"> 0 </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </td>
              </tr>
              <tr id="ptz_focus_speed">
                <td>
                  <span title="">Focus speed</span>
                </td>
                <td>
                  <select title="" name="camctrl_c0_focusspeed" onchange="SubmitFocusspeed(this)">
                    <option value="-5">-5</option>
                    <option value="-4">-4</option>
                    <option value="-3">-3</option>
                    <option value="-2">-2</option>
                    <option value="-1">-1</option>
                    <option selected="" value="0"> 0 </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>


        </div>

        <img id="img" style="width: 100%; height:500px">
        <canvas id="canvas" height=500 width=500></canvas>
      </div>
      <!--하단1-->
      <div class="container-fluid bg-3 text-center">
      </div><br>
      <%- include("../master/footer.ejs") %>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>

  <script>
    //start socket.io client connection
    var socket = io();
    //on socket.io connection success

    // initiate a player that can be piped to.
    var player = new JSMpeg.Player('pipe', {
      canvas: document.getElementById('canvas')
    });
    //on data from "h264" handle
    socket.on('data', function (data) {
      // `data.buffer` is the raw video data from FFMPEG
      // pretend you are getting data as follows
      // var data = {buffer:ArrayBuffer}
      player.write(data.buffer)
    });
  </script>

  <script>
    var cctvUrl = 'http://smsoft.iptime.org:38080'

    // var img = document.getElementById('img');

    // // var socket = io('http://localhost');
    // var socket = io();

    // var target = document.getElementById('can')
    // var player = new jsmpeg(socket, {
    //   canvas: target
    // });

    // socket.on('data', function (data) {
    //   // console.log(data);
    //   // socket.emit('my other event', { my: 'data' });
    //   img.src = 'data:image/jpeg;base64,' + data;
    // });

    socket.emit("certifySocket", {
      sessionID: "<%- sessionID %>",
      sessionUserInfo: <%- JSON.stringify(user) %>,
    });

    //   socket = io('');
    // socket.on('data', function (data) {
    //   console.log(data)
    //   // img.src = 'data:image/jpeg;base64,' + data;
    // });
  </script>

</body>

</html>