<!DOCTYPE html>
<html>

<head>
  <!-- Default Js -->
  <%- include("../master/head.ejs") %>
  <script src="/js/contents/master/mainUtil.js"></script>
  <script src="/js/muanCCTV/common.js"></script>
  <link href="/css/muanCCTV/homepage.css" rel="stylesheet" />
  <link href="/css/muanCCTV/blue_theme_home.css" rel="stylesheet" />
  <%- include("./mediaQuery.ejs") %>
</head>

<body>
  <div id="wrap" class="wrap hidden" style="background-image: url('/image/bg_1025.jpg'); background-color:#e9e9e9;">
    <div class="center">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="container_body">
        <div class="rtsp_container" style="min-height: 700px;">
          <section>
            <ul class="list-group">
              <li class="list-group-item">
                <h4>스프링 클러 제어</h4>
                <div id="pump_control" data-device-id="pump_001">
                  <button type="button" data-value="1" class="btn btn-primary">켜기</button>
                  <button type="button" data-value="0" class="btn btn-danger">끄기</button>
                </div>
                <br />
              </li>
              <li class="list-group-item">
                <h4>사진 캡처</h4>
                <div>
                  <button type="button" id="btn_snapshot" title="Snapshot" class="btn btn-success" onclick="clientsidesnapshot()">사진
                    찍기</button>
                </div>
                <br />
              </li>
            </ul>
          </section>
          <section>
            <!-- <canvas id="canvas" height=500 width=500></canvas> -->
            <div class="title">
              <p> 촬영시각 : &nbsp; <span id="snapshotDate"></span> </p>
            </div>
            <div>
              <img id="img" src="" width="100%">
            </div>
          </section>
        </div>
      </div>
      <!--하단1-->
      <div class="container-fluid bg-3 text-center">
      </div><br>
      <%- include("../master/footer.ejs") %>

    </div>
  </div>

  <script>
    var snapshotStorageList = <%- JSON.stringify(snapshotStorageList) %>;
    // FIXME: 스냅샷 한장만 우선 보여줌
    var snapshotStorage = _.head(snapshotStorageList)
    document.getElementById('img').setAttribute('src', '/' + snapshotStorage.snapshotPath)
    document.getElementById('snapshotDate').innerText = snapshotStorage.snapshotTime

    // FIXME: 스냅샷 사진찍기는 무안으로 설정함. 임시
    var cctvUrl = 'http://smsoft.iptime.org:38080'
  </script>

  <script src="/socket.io/socket.io.js"></script>

  <script>
    //start socket.io client connection
    var socket = io();

    socket.emit("certifySocket", {
      sessionID: "<%- sessionID %>",
      sessionUserInfo: <%- JSON.stringify(user) %>,
    });
  </script>

  <script>
    $("#pump_control > button").on("click", function () {
      var deviceId = $("#pump_control").data("device-id")
      var controlType = $(this).data("value");
      var requestMsg = {
        commandId: "SINGLE",
        contents: {
          /**
           * 명령 제어 타입 (requestOrderCommandType) 
           * @example
           * CONTROL: 장치 제어 요청
           * CANCEL: 명령 제어 취소 요청
           * MEASURE: 명령 계측 요청
           */
          requestCommandType: "CONTROL", // 단일 동작 제어는 모두 명령 요청으로 처리
          nodeId: deviceId,
          /**
           * 장치 제어 타입 (requestDeviceControlType)
           * @example
           * 0: 장치 Close, Off
           * 1: 장치 Open, On
           * 2: 장치 Measure
           * 3: 장치 값 설정
           */
          controlValue: controlType,
          rank: 2,
          /** 로그인 한 사용자 정보 전송 */
          user: <%- JSON.stringify(user) %>
        }
      }
      // console.log(requestMsg)
      socket.emit("executeCommand", requestMsg);
    })
  </script>


</body>

</html>